#name-and-slogan #site-slogan {
  font-family: 'Comic Sans MS',Cursive;
  font-style: normal;
  text-align: center;
  background-color: #0d000d;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

